.progressbar {
  position: relative;
  width: 60px;
  height: 60px;
}

.progressbar__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3579F5;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.progressbar__foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: conic-gradient(#fff 60%, transparent 0);
  box-sizing: border-box;
  z-index: 1;
}

.progressbar__indicator {
  position: absolute;
  top: 49.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #3579F5;
  z-index: 3;
}

.progressbar__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;

  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Inter-Regular';
  z-index: 4;
}